body {
  background: #67727A;
}
.tweet {
  background: #6991AC;
  margin: 4px;
  border-radius: 4px;
}
#navigation {
  text-align: center;
}
.username {
  text-decoration: underline;
  color: #C3D7DF;
  /*color: #D75C37;*/
}
